{% extends './base.html' %}

{% block title %} About {% endblock title %}

{% block body %}
<style>
    p, li {
        font-size: 20px;
    }
</style>
    <div class="container justify-content-evenly">
        <h3>1. ወሳኝ ኩነት ማለት ምን ማለት ነዉ?</h3>
        <p>
            የወሳኝ ኩነት ምዝገባ ስራ በአንድ አገር ዜጎች ላይ ከልደት እስከ ህልፈተ ህይወት የሚከሰቱ ወሳኝ ኩነቶችን በዋነኛነት
            የልደት፣የጋብቻ፣የፍቺ እና የሞት ክስተቶችን በቀጣይነት፣በቋሚነትና በአስገዳጅነት የመመዝገብና የማከማቸት እንዲሁም
            በዋነኛነት ለህግ፣ለአስተዳደርና ለስታቲስቲክስ ስራ መረጃ ፍላጎት የማቅረብ ተግባራትን የሚያከናውን ነው፡፡ የወሳኝ ኩነቶች
            ምዝገባ የዛሬውን ቅርጽና ይዘት ለመያዝ በሰው ልጅ ማህበራዊ ታሪክ ውስጥ በርካታ ዘመናትን አስቆጥሯል:፡ የወሳኝ ኩነት
            ምዝገባ በተለይም ከሲቪል መብቶች በመያያዝ በመንግስት ህግ የተካተተው እ.አ.አ በ1804 በወጣው በፈረንሳይ ሲቪል
            ህግ/civil code/ ውስጥ የወሳኝ ኩነቶች (ልደት ፣ ሞት ፣ ጋብቻና ፍቺ) ምዝገባ አሰራር እንዲካተት በተደረገበት
            ወቅት ነው ፡፡
        </p>
        <p></p>
        <h3>2. ዋና ዋናዎቹ ወሳኝ ኩነቶች እነማን ናቸዉ?</h3>
        <p>ልደት፣ጋብቻ፣ፍቺና ሞት</p>
        <h3>3. ወሳኝ ኩነቶችን ማስመዝገብ ያለዉ ጠቀሜታ ምንድን ነዉ?</h3>
        <p>
            ከልማዳዊ አሰራር ወጥቶ ሁሉን ዓቀፍ ፣ ቋሚነት እና ቀጣይነት ያለው የወሳኝ ኩነቶች ምዝገባ ስርዓት መዘርጋት ለግለሰቦች፣
            ለተቋማት፣ለአገራት እና ለዓለም አቀፉ ማህበረሰብ ከፍተኛ ጠቀሜታ ይሰጣል። የወሳኝ ኩነቶች ምዝገባ ለአንድ አገር ቀጣይ
            እድገት አቅጣጫን ለመንደፍ አስተማማኝ የመረጃ ምንጭ በመሆን ያገለግላል፡፡ እንዲሁም ለአስተዳደራዊ ጉዳዮች፣የፍትህ
            ስርዓቱን ቀልጣፋ በማድረግና የዜጎች ሰብአዊ መብት በዘላቂነት በማስጠበቅ፣ የፍትህ ስርዓቱን ከልማዳዊ የህግ አፈፃፀም
            አሰራር ወጥቶ ዘመናዊ፣ቋሚና አስተማማኝ የመረጃ አጠቃቀም ስርዓት እንዲኖር በማድረግ፣ በተጨማሪ የመስተዳድር አካላት
            የህዝብ አስተዳደር ስርዓትን ለማስፈን እና ትክክለኛ እና ፍትሃዊ ውሳኔ ለመስጠት አስፈላጊ ነው፡፡ የወሳኝ ኩነቶች ምዝገባ
            በዋነኛነት ለህግ፣ለአስተዳደራዊ እና ለስታቲስቲካዊ በሚሉ ሶስት አበይት ጠቀሜታታዎች የሚከፈሉ ሲሆን ዝርዝር ጠቀሜታዎች
            እንደሚከተለው ቀርቧል፡፡
        </p>
        <p></p>
        <p></p>
        <p></p>
       
        <h4>ከልማዳዊ አሰራር የተላቀቀ የመረጃ ስርዓት ከመዘርጋት አኳያ</h4>
        <li> ምዝገባው የግለሰቦችን ስም በህጋዊና በዘለቄታዉ በመንግስት ሰነድ በማደራጅት ዋነኛ የመረጃ ምንጭ መሆኑ፣</li>
        <li> ምዝገባው ህገ-መንግስታዊ ስርዓቱን ተክትሎና በህገ-መንግስቱ የዜግነት ድንጋጌዎች በአግባቡ ለመተግበር፣</li>
        <li> በአግባቡ የተደራጀ የልደት ምዝገባና ምስክር ወረቀት ለሰዎች የትዉልድ ቀንና ዕድሜ ለመለየት ይረዳል፣</li>
        <li>
             በአንድ አገር ወጥ የመታወቂያ ስርዓት በመዘርጋትም ሆነ በየአስተዳደር ዕርከኑ የመታወቂያ ዝግጅት አሰራርን ለመወሰን
            ግብዓት የሆነዉ የግለሰቦች ማንነት የሰነድ ማስረጃ በምንጭነት ያገለግላል፣
        </li>
        <li> ለግለሰቦች የፓስፖርት ዝግጅት በአስተማማኝነት የመረጃ ምንጭ ሆኖ ያገለግላል፣</li>
        <li>
             ምዝገባው ወንጀልን ለመከላከልና ዜጎችን ከጥቃት ለመታደግ የግለሰቦችን ማንነትና መሰረታዊ ባህሪያት በመረጃነት ለመያዝ
            ጠቀሜታው የጎላ መሆኑ፣
        </li><br>
        <h4>ለፍትህ ስርዓቱ አስተማማኝ የመረጃ ምንጭ ከመሆን አኳያ</h4>
        <li> ለበርካታ የዕለት ተዕለት የህግ ጉዳዮችን (የፍትሀ-ብሄር) ለትክክለኛና የተፋጠነ ፍትህ ለማግኘት፣</li>
        
            ለምሳሌ፡-ልጅነትን ለመወሰን፣የሞት ምክንያትን ለማረጋገጥ፣የውርስና ኢንሹራንስ ጉዳዮች፣የጋብቻ ሁኔታን፣የአካለ መጠን
            ስለመድረስ፣ጉዲፈቻ ወዘተ ለመለየት መረጃ ሆኖ ያገለግላል፡፡
       
        <li> በወንጀል ጉዳዮችም የተጠርጣሪዎች ማንነት ለመለየት፣የወጣት አጥፊዎችን ዕድሜ ለመለየት፣</li>
        <li>
             የኢፌዴሪ ህገ-መንግስት አንቀፅ 36 ህፃናት በህይወት የመኖር፣ስምና ዜግነት የማግኘት፣ወላጆቻቸውን የማወቅና
            በወላጆቻቸው የመጠበቅ መብት ለማስከበር ወዘተ ተግባራዊ ለማድረግ ምዝገባው ጠቀሜታ አለው፡፡
        </li><br>
        <h4>የህፃናትና ሴቶች መብት ከማስከበር አኳያ</h4>
        <li>
             ምዝገባው ሴት ህፃናት ከልጅነት ጋብቻ እንዲጠበቁ፣ከተከሰተም ለተጠያቂነት በመረጃ ምንጭነት ለማገልገል የላቀ ድርሻ
            ይኖረዋል፡፡
        </li>
        <li> በውጭም ሆነ በአገር ውስጥ የሚከናወኑ የጉዲፈቻ ስርዓቶች ህጋዊነት ለማረጋገጥ ምዝገባው በመረጃነት ያገለግላል፣</li>
        <li> ወላጅ አልባ ህፃናት ህጋዊ ጥበቃ እንዲያገኙ ለማድረግ፣</li>
        <li> ህገ-ወጥ የህፃናት ዝውውር ወንጀልን ለመከላከል ምዝገባው ወሳኝ ነው፡፡</li>
        <li> ለጋብቻ ዕውቅና ህጋዊነትን በመስጠት ሴቶችንና ህፃናትን ከተጠቂነት ለመታደግ፣</li>
        <li> ፍቺን መመዝገብ የሴቶችና ህፃናት መብቶች በማስጠበቅ ከጉዳት ለመከላከል፣</li>
        <li> የአስገድዶ መድፈር ጥቃት የደረሰባት ሴት ህፃን በህግ ፊት ለመዳኘት ለአቅመ ሄዋን አለመድረስዋን ለማረጋገጥ፣</li><br>
        <h4>ለአስተዳደራዊ ጠቀሜታዎች</h4>
        <li>ለህዝባዊ አገልግሎት ሰጪ አካላት በመረጃ ምንጭነት ለማገልገል</li>
        <li>
             በየደረጃው የሚገኙ አስተዳደሮች በሚሰጡዋቸው የህዝብ አገልግሎት ተግባራት ቀልጣፋ፣ ዘላቂ፣ ፋትሃዊ፣ ግልፅና ተጠያቂ
            ለማድረግ፣
        </li>
        <li>
            የአገሪቱን የህዝብ አስተዳደር ስርዓት በተለይም የነዋሪነት መታወቂያ፣የቤተሰብ ማህደር አደረጃጀት ፣የመሬትይዞታ
            አስተዳደር ወዘተ ዘመናዊ አደረጃጀት ለመከተል፣
        </li>
        <li>
            ልዩ እንክብካቤና ክትትል የሚፈልጉ እንደ ሲወለዱ የአካል ጉዳት ያለባቸው፣ሲወለዱ ዝቅተኛ ክብደት ያላቸውን ህፃናት
            እንክብካቤና ክትትል ለማድረግ፣
        </li>
        <li>
             የመዋዕለ ህፃናትና የመጀመሪያ ደረጃ ትምህርት አገልግሎት የሚሰጡ ተቋማትን ብዛት ለመወሰንና በዕቅድ ላይ የተመሰረተ
            ተግባር ለማከናወን፣
        </li>
        <li>
             ህዝባዊ ምርጫ በማቀድ፣ቁሳቁስ ዝግጅት በማሟላትና የመራጮችና የዕጩዎች ምዝገባ እና የመረጃ ክምችትን ለማደስና
            ለማደራጀት፣
        </li>
        <li>
             የንግድና አገልግሎት ሰጪ አካላት ማለትም ባንክ፣ኢንሹራንስ፣መንጃ ፍቃድ መስጠት፣ የእርዳታ አገልግሎቶች፣ የፍትህ
            አካላት፣ የስፖርትና መዝናኛ ወዘተ በመረጃ የተደገፈ አገልግሎት ለመስጠት፣
        </li><br>
        <h4>ለስታቲስቲካዊ ጠቀሜታዎች በተሟላ መረጃ ላይ የተመሰረተ የጤና አገልግሎት ከመስጠት አኳያ</h4>
        <li> የህፃናት የበሽታ መከላከልና የጤና እንክብካቤ አገልግሎት ለመስጠት፣</li>
        <li> ህፃናት ከወሊድ ጀምሮ እድገታቸውን የተከተለ የክትባትና ሌሎች የጤና ክትትል ለማድረግ፣</li>
        <li> ከወሊድ በኃላ ለእናትየውና ለህፃኑ የተቀናጀ የጤና አገልግሎት በአግባቡ ለመስጠት፣</li>
        <li>
             ተወልደው በጨቅላ እድሜአቸው የሚሞቱ ህፃናትና አዋቂ ሰዎች የሞት ምክንያት ለማወቅና አስፈላጊውን መፍትሄ/ጥንቃቄ
            ለማድረግ፣
        </li>
        <p></p>
        <h4>አገራዊ የህዝብ ብዛት፣ስርጭትና ለውጥ በማወቅ አስፈላጊውን ዝግጅት ከማከናወን አኳያ</h4>
        <li> የህዝብ ብዛት፣ስርጭትና ለውጥ መረጃ ለማግኘትና በየአስር ዓመቱ የሚከናወነውን የህዝብ ቆጠራ መረጃ ለማደስ፣</li>
        <li> ለህዝብ ለውጡ ዋነኛ መንስኤ የሚሆኑ መረጃዎችን ለማግኘት፣</li>
        <li> የህዝብ ቁጥር መረጃ እስከ ታችኛው የአስተዳደር እርከን በወቅቱ፣በቀጣይና በቋሚነት አሃዛዊ መረጃ ለማግኘት፣</li>
        <li>
            በሁሉም የአስተዳደር አካላት ዓመታዊ የህዝብ ብዛትና ባህሪያት መረጃ በመያዝ ለሚደረጉ አካባቢያዊ ልማት ዕቅድ
            ዝግጅቶች፣ለአፈፃፀም ክትትልና ግምገማ ለማከናወን፣
        </li>
        <li>
             የአስተዳደር አካላት ዓመታዊ የልደትና የሞት መጠንና ስርጭት፣የህዝብ ብዛት እድገት ምጣኔና ስርጭት ትንበያ ለማከናወን፣
        </li>
        <li>የክልል መስተዳድሮች በስነ-ህዝብና ጤና ስታቲስቲክሰ ዘርፍ ልዩ ተጠቃሚ ለማድረግ</li>
        <li>
             በየደረጃው ያሉ የአስተዳደር እርከኖች የስነ-ህዝብ ጤና መለኪያ (indicators) መረጃዎችን ማለትም የወሊድ
            ምጥነት፣የጨቅላ ህፃናትና ጎልማሶች ሞት ምጥነት፣የእናቶች ሞት ምጥነትና ስርጭት፣የሞት ምክንያትና ምደባ
            ስታቲስቲክስ፣የህይወት ዘመን ትንበያ ለማወቅ ይጠቅማል፡፡ እነዚህ መለኪያዎች የምእተ ዓመቱ የልማት ግብ መለኪያዎች
            የሆኑትን መሰረታዊ የልማት ግስጋሴ መረጃዎች በወቅታዊነት፣በተከታታይነት፣በቋሚነትና በጥራት እንዲገኙ ያስችላል፡፡
        </li><br>
        <h3>4. የወሳኝ ኩነቶች ምዝገባ ኤጀንሲ ስልጣንና ተግባራት ምን ምን ናቸዉ?</h3>
      
       
            <li>በአዋጁ መሠረት ወሳኝ ኩነት በአግባቡ መመዝገቡንና ምስክር ወረቀት መስጠቱን ያረጋግጣል፣</li>
            <li>ለክልሎች የሚያገለግሉ የክብር መዝገቦች ዝግጅትና ሥርጭትን በሚመለከት አግባብ ካላቸው የክልል አካላት ጋር
            ይተባበራል፣ድጋፍ ይሰጣል፣</li>
            <li>ከኢትዮጵያ ውጪ የሚኖሩ ዜጎችንና በግዳጅ ላይ ያሉ የመከላከያ ሠራዊት አባላትን የሚመለከቱ እንዲሁም በኢትዮጵያ መርከቦች
            ላይ የሚከሰቱ ወሳኝ ኩነቶችን ለመመዝገብ የሚያስፈልጉ የክብር መዝገቦችን አዘጋጅቶ ያሰራጫል፣</li>
            <li>የወሳኝ ኩነት ምዝገባ የድርጊት መርሀ ግብር እና የመረጃ አጠቃቀም ሥርዓትን ከክልሎች ጋር በመተባበር ያዘጋጃል፤
            አፈጻጸሙን ይከታተላል፣</li>
            <li>የወሳኝ ኩነት ምዝገባ አስፈላጊነትን አስመልክቶ የተለያዩ ዘዴዎችን በመጠቀም ትምህርትና ሥልጠናዎች ይሰጣል ወይም እንዲሰጥ
            ያደርጋል፣</li>
            <li>የወሳኝ ኩነት ምዝገባ የጥራትና የሽፋን ደረጃ ለመገምገምና ለመቆጣጠር የሚያስችል ጥናት ያካሂዳል፤ በምዝገባ ሂደት በታዩ
            የአሠራር ችግሮች ላይ የመፍትሄ ሃሳብ ያቀርባል፡፡</li>
            <li>የወሳኝ ኩነት ምዝገባና የመረጃ ልውውጥ ሥርዓት ተስማሚ በሆነ ቴክኖሎጂ እየታገዘ የሚሠራበትን ሁኔታ ያመቻቻል፤</li>
            <li>በአዋጁ መሠረት የተሰበሰቡ መረጃዎች ለሚመለከታቸው አካላት በወቀቱ እንዲተላለፋ አስፈላጊውን የማስተባበር ሥራ
            ያከናውናል፤</li>
            <li>ለወሳኝ ኩነት ምዝገባ ማዕከላዊ የመረጃ ማዕከል ያደራጃል፤ የሚዘረጋው ቴክኖሎጂና የሚሰበሰበው መረጃ ለአደጋ እንዳይጋለጥ
            ተገቢውን ጥንቃቄ ያደርጋል፤</li>
            <li>የወሳኝ ኩነት ምዝገባ ሥርዓትን የሚመለከቱ የፖሊሲ ሃሳቦችን ለሚመለከተው አካል ያቀርባል፤ ሲፈቀድም ተግባራዊ ያደርጋል፤</li>
        
    </div>
{% endblock body %}