{% extends './base.html' %} 


{% block title %} death {% endblock %} 


{% block body %}

  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for death in deaths %}
    <a href="/death/{{ death.id }}">
      <div class="col">
        <div class="card h-100">
          <img src={{ death.photo.url }} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">{{ death.first_name }} {{ death.middle_name }} {{ death.last_name }} </p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %} 
  </div>
{% endblock %}