section {
    width: 100%;
}

#footer {
    padding-top: 15px;
    margin-top: 250px;
    background: #264653 !important;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
}





